$header-bg: #262626;
$theme-dark-grey: #262626;
$theme-sub-color: #718096;
$light-sky-bg: #EDF2F7;
$primary-color : #1E21FF;
$body-font: 'Noto Sans', sans-serif;
$cmn-light-border: 1px solid #D3DEE9;
$transparent-bg: transparent;

$background-color_1: #ffffff;
$background-color_2: #efefef;
$background-color_3: #2196F3;